<form class="content__cell content__cell_form">
    <h1>Вход</h1>
    <hr>

    <div class="error error_green">Неправильный логин или пароль! Попробуйте еще раз.</div>

    <label class="form-field">
        <span class="form-field__name">Логин или электронная почта</span>
        <input class="form-field__input" type="text" placeholder="например, awesome-user@mail.ru">
    </label>

    <label class="form-field">
        <span class="form-field__name">Пароль</span>
        <input class="form-field__input" type="password" placeholder="например, ••••••">
    </label>

    <span>Еще не зарегистрированы?</span>

    <button class="button button_purple" type="submit">Войти</button>
</form>