<section class="content content_centered content_top-aligned">
    <h1>Мои доски задач</h1>
    <div class="task-wall">
        <div class="task content__cell">
            задания
        </div>
        <div class="task content__cell">
            задания
        </div>
        <div class="task content__cell">
            задания
        </div>
        <div class="task content__cell">
            задания
        </div>
        <div class="task content__cell">
            задания
        </div>
        <div class="task content__cell">
            задания
        </div>
    </div>
</section>